* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  background-position: center;
 }

  .box{
  width: 320px;
  height: 400px;
  background:transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
 }

  .box .inputbox
  {
    position:relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }

  .box .inputbox #num1,#num2
  {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.289);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    margin-bottom: 10px;
  }

  .box .btns
  {
    /* background-color: aqua; */
    width: 100%;
    height: 20%;
    margin: 80px 0;
    margin-bottom: 30px;
  }

  .box .btns #addbtn,#subbtn,#mulbtn,#divbtn
  {
    width: 21%;
    height: 80%;
    border:0.5px solid rgb(8, 8, 8);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 40px;
    background-color:rgba(20, 243, 16, 0.38) ;
  }

