* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.navigation {
  width: 100%;
  height: 60px;
   background-color:whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation a{
  color:black;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  max-width: max-content;
}
.navigation span{
  color:black;
  font-size: large;
  text-decoration:solid;
  margin-left: 25px;
font: size 16px;

}
.navigation ul{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-content: center;
  list-style: none;
}
.navigation li{
  margin: 0 20px;
}
.navigation a:hover{
  background-color: #0984e2;
  color: #fff;
  padding: 10px ;
  transition: 0.3s;

}

.s1
{
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s1 .box1
{
  width: 360px;
  background-image: url("DDTlogo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  background-color: rgba(6, 4, 4, 0.48);
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 10px;
  padding: 30px 40px;
  text-align: center;
  font-size: 18px;
  align-items: center;
}

.s1 .box1 h2
{
  font-size: 22px;
  margin-bottom: 20px;
  color: #0984e2;
  
}
.s1 .box2
{
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  margin: 25px;
  padding: 0px;
 
}

.s1 .box2 div {
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 10px;
  padding: 20px 20px;
  text-align: center;
  font-size: 12px;
  width: 200px;
  margin: 12px;
}

.s1 .box2 div h3{
  
  font-size: 12px;
  margin-bottom: 20px;
  color: #0984e2;

}

.s1 .box2 div i{
  color: #0984e2;
  font-size: 30px;
  margin-bottom: 20px;
}

.s2
{
  color: #fff;
  background-color: rgba(0, 0, 0, 0.812);
  display: flex;
  margin-bottom: 50px;
}

.s2 .contact
{
  width: 400px;
  padding: 30px 100px;
}

.s2 .contact h3
{
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: #0984e2;
  
}

.s2 .contact .p1
{
  font-size: 16px;
  margin-bottom: 5px;
}

.s2 .contact .p2
{
  margin-bottom: 20px;
  font-size: 14px;
}

.s2 .contact .p1 i
{
  color: #0984e2;
  margin-right: 5px;
}

.s2 .contact iframe
{
  border-radius: 10px;  
}

.s2 .box2
{
  margin-left: 130px;
  width: 680px;
  padding: 30px 30px;
  
}

.s2 .box2 h3{
  margin-bottom: 15px;
  font-weight: 100;
}
.s2 .box2 .b1
{
  display: flex;
  margin-bottom: 10px;
}

.s2 .box2 .b1 div
{
  margin-right: 20px;
}
.s2 .box2 input
{
  margin-bottom: 15px;
  margin-top: 5px;
  background: transparent;
  border: none;
  border-bottom: solid 1px;
  border-color: gray;
  padding-left: 10px;
  padding-bottom: 5px;
  width: 300px;
  
  
}

.s2 .box2 #msg,#mail
{
  width: 625px;
}


.s2 .box2 label
{
  font-size: 14px;
}

.s2 .box2 input::placeholder
{
  font-size: 12px;
}

.s2 .box2 button
{
  width: 250px;
  height: 25px;
  margin-left: 180px;
  border-radius: 25px;
  background-color: #0984e2;
  color: #fff;
  border: none;
  outline: none;
}

footer
{
  background-color: rgba(0, 0, 0, 0.812);
}